APP_ENV=local
PYTHONIOENCODING=utf-8

LLM_PROVIDER=local
ALLOW_LOCAL_LLM_IN_PRODUCTION=false
LOCAL_LLM_MODEL=<LOCAL_OLLAMA_MODEL_TAG>
OLLAMA_BASE_URL=http://127.0.0.1:11434

ENABLE_LOCAL_RAW_JSON_INVOKE=true
LOCAL_LLM_NUM_PREDICT=4096
LOCAL_LLM_NUM_CTX=8192

SUPPLEMENT_RAG_DB_PATH=<LOCAL_CHROMADB_PATH>
SUPPLEMENT_ENABLE_LLM_QUERY_OPTIMIZER=false
SUPPLEMENT_ENABLE_WEB_FALLBACK=false
WHISPER_PRELOAD=false
