langchain
langchain-core
langchain-google-genai
langchain-huggingface
langchain-community
langchain-openai
langchain-text-splitters
langchain-chroma

fastapi
uvicorn
google-generativeai
pydantic
python-dotenv
sentence-transformers
faster-whisper
python-multipart
chromadb
ragas
datasets
jq
gdown
kiwipiepy
rank-bm25
duckduckgo-search
sqlalchemy
pymysql
pandas
openpyxl